</body>
</html>

try {
    // Fetch developer data based on the ID using Mongoose
    const developer = await Dev.findById({_id: req.params.id})

    // Check if the developer was found
    if (developer) {
        // Render the edit-dev page with developer data
        res.render('edit-dev', { developerData: developer });
    } else {
        // If not found, send a 404 response
        res.status(404).send('Developer not found');
    }
} catch (err) {
    // Handle errors and send a 500 response
    console.error(err);
    res.status(500).send('Internal Server Error');
}